body {
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: 'Source Sans Pro', sans-serif;
  border: 20px solid #bdc3c7;
}

.article {
  padding: 20px 20px 5px 20px;
}

.date {
  color: #3498db;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  color: #2c3e50;
  padding-bottom: 15px;
}

p {
  font-weight: 600;
}

p:nth-of-type(1) {
  padding-left: 5px;
  border-left: 5px solid #bdc3c7;
}

hr {
  border: 1px solid #bdc3c7;
  margin: 0 20px 10px 20px;
}

